name: Night Box Bot Run

on:
  schedule:
    - cron: '*/30 * * * *' # આ બોટને દર ૩૦ મિનિટે રન કરશે
  workflow_dispatch: # આનાથી તમે જાતે પણ બટન દબાવીને રન કરી શકશો

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Bot
        run: python main.py
